@blue: #0073EA;
@pink: #ff0084;
@white: #ffffff;
@grey: #cccccc;
@black: #000000;
@yellow: #ffee88;
@gunmetal: #3e3f47;

body {
    font-family: 'Open Sans', sans-serif;
    color: @gunmetal;

    &.theme {

        h1 {
            color: @blue;
            font-size: 2em;
            font-weight: 300;

            &.hdr {
                font-size: 3em;
                margin-bottom: 60px;
                margin-top: 60px;
            }
        }

        h2 {
            color: @pink;
            font-size: 1.8em;
            font-weight: 400;
        }

        .content {


        }

    }

    &.links {
        font-weight: 100;

        .link-list {

            ul {
                font-size: 1.7em;
                margin-bottom: 100px;

                li {
                    margin-bottom: 30px;

                    a {
                        color: @blue;
                        display: block;
                        margin-top: 5px;

                        &:hover {
                            color: @pink;
                        }
                    }
                }
            }
        }
    }
}
