@blue: #0073EA;
@pink: #ff0084;
@white: #ffffff;
@grey: #cccccc;
@black: #000000;
@yellow: #ffee88;
@gunmetal: #3e3f47;

body {
    font-family: 'Open Sans', sans-serif;
    color: @gunmetal;
    margin-bottom: 100px;

    strong {
        font-weight: 800;
    }

    &.theme {

        h1 {
            color: @blue;
            font-size: 2em;
            font-weight: 300;

            &.hdr {
                font-size: 3em;
                margin-bottom: 60px;
                margin-top: 60px;
            }
        }

        h2 {
            color: @pink;
            font-size: 1.8em;
            font-weight: 400;
        }

        .content {
            .row {
                margin-bottom: 50px;
            }
        }

        &.day {

            .concepts {
                font-size: 1.8em;
                font-weight: 100;

                ul {

                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            .point {
                font-size: 1.8em;
                font-weight: 100;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 2em;
                color: @blue;
                margin-bottom: 30px;
                margin-top: 30px;
            }

            .refresh {
                margin-top: 20px;
                font-size: 1.2em;
                background-color: lighten(@grey, 15%);
                padding: 10px;
                border: 2px dashed darken(@grey, 5%);
                border-radius: 5px;
                color: darken(@grey, 10%);
            }
        }

    }

    &.links {
        font-weight: 100;

        .link-list {

            ul {
                font-size: 1.7em;

                li {
                    margin-bottom: 30px;

                    a {
                        color: @blue;
                        display: block;
                        margin-top: 5px;

                        &:hover {
                            color: @pink;
                        }
                    }
                }
            }
        }
    }
}
